@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Jacob Gordon
   Date:   9/12/18
   
   Filename: lake_styles.css

*/
@font-face {
    font-family: champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');

}

@font-face {
    font-family: DobkinPlain;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

html{
    background-color: rgb(180, 169, 13);
}
body{
    background-color: red;
}

aside h1{
font-size: 1.3em;
}
header>nav{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(223, 130, 223);
}
header>nav a:link,
header>nav a:visited {
    color: rgb(50, 30, 50);
    text-decoration: none;
}
header>nav a:active,
header>nav a:hover{
    background-color: hsla(184, 89%, 45%, 0.3);
}
/* Sectioning Element */
section h1{
    font-size: 3em;
    font-family: champagne, cursive;
margin: 5px;
text-align: center;
}

section#leftcol{
    background-color: rgb(108, 96, 150);
}
section#leftcol aside h1{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section#leftcol aside:first-of-type{
    background-color: rgb(50, 30, 80);
}
section#leftcol aside:nth-of-type(2){
    background-color: pink;
}
/* section#leftcol p:first-of-type::first-letter{
    font-size:1.5em;
    font-family: 'New Times Roman', cursive;
} */

/* Sectioning ID rightcol */
section#rightcol{
    background-color: rgb(216, 95, 216);
    font-size: 1.2em;
}
section#rightcol h2{
    font-family: DobkinPlain;
    font-size: 2em;
    text-align: center;
}
section#rightcol>nav a:link,
section#rightcol>nav a:visited{
    color: rgb(60, 30, 80);
    text-decoration: none;
}
section#rightcol>nav a:active,
section#rightcol>nav a:hover{
    color:rgb(150, 20, 30);
}
section#rightcol nav{
    font-size: 0.8em;
}
/* Footer */
footer{
    background-color: maroon;
    color: red;
    text-align: center;
}
/* Blockquotes */
section#rightcol blockquote::before{
    content: open-quote;
    color: red;
    font-family: DobkinPlain;
    font-size:2em;
}
section#rightcol blockquote::after{
    content: close-quote;
    color: red;
    font-family:DobkinPlain;
    font-size: 2em;
}